/* 基本的表格样式 */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #b0b0b0;
    padding: 0.4vw;
    text-align: left;
    font-size: 1.0vw; /* 字体大小随视口宽度变化 */
}

thead th {
    background-color: #333;
    color: white;
}

tbody td {
    background-color: #fff;
}

/* 设置不同 data-name 的列宽度 */
th[data-name="技能名称"],
td[data-name="技能名称"] {
    width: 10%;
}

th[data-name="属性"],
td[data-name="属性"] {
    width: 10%;
}

th[data-name="技能卡"],
td[data-name="技能卡"] {
    width: 10%;
}

th[data-name="描述"],
td[data-name="描述"] {
    width: 70%;
}
