/* 表格容器样式 */
.table-container {
    overflow-x: auto;
    max-height: 400px; /* 根据需要调整高度 */
}

/* 表格样式 */
#excelTable {
    border-collapse: collapse;
    width: 100%;
}

#excelTable th, #excelTable td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

/* 粘性表头样式 */
.sticky-header {
    position: sticky;
    top: 0;
    background-color: #f0f0f0;
}

/* 鼠标悬停在可排序表头上的样式 */
.sortable:hover {
    background-color: #e0e0e0;
}

/* 当前排序列的样式 */
.sorted {
    font-weight: bold;
}

/* 排序箭头的样式 */
.sort-arrow {
    font-size: 0.8em;
    margin-left: 5px;
}

/* 隐藏排序箭头 */
.hide-arrow {
    display: none;
}

/* 为每个表头单独设置宽度 */
#excelTable th:nth-child(1), #excelTable td:nth-child(1) {
    width: 30px; /* 第一列的宽度 */
}

#excelTable th:nth-child(2), #excelTable td:nth-child(2) {
    width: 40px; /* 第二列的宽度 */
}

#excelTable th:nth-child(3), #excelTable td:nth-child(3) {
    width: 120px; /* 第三列的宽度 */
}

#excelTable th:nth-child(4), #excelTable td:nth-child(4) {
    width: 60px; /* 第四列的宽度 */
}

#excelTable th:nth-child(5), #excelTable td:nth-child(5) {
    width: 40px; /* 第五列的宽度 */
}

#excelTable th:nth-child(6), #excelTable td:nth-child(6) {
    width: 60px; /* 第六列的宽度 */
}

#excelTable th:nth-child(7), #excelTable td:nth-child(7) {
    width: 200px; /* 第七列的宽度 */
}

#excelTable th:nth-child(8), #excelTable td:nth-child(8) {
    width: 50px; /* 第八列的宽度 */
}

#excelTable th:nth-child(9), #excelTable td:nth-child(9) {
    width: 200px; /* 第九列的宽度 */
}

#excelTable th:nth-child(10), #excelTable td:nth-child(10) {
    width: 60px; /* 第十列的宽度 */
}

/* 调整箭头符号的位置 */
.sort-arrow {
    position: absolute;
    right: 8px; /* 根据需要调整位置 */
    top: 50%;
    transform: translateY(-50%);
}